<form method="post" action="{{ path('app_posts_delete', {'slug': post.slug}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir procéder à la suppression de l\'article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
