{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block main %}

<div class="row m-0 p-0">
    <div class="col-12 bg-primary rounded px-3 px-lg-5 py-4 mt-4">
        <h1 class="h2 col-12 text-primary text-center mb-5">Modifier la publication n° <span class="text-info">{{ post.id }}</span></h1>

        {{ include('posts/_form.html.twig', {'button_label': 'Sauvegarder les modifications'}) }}

        <a href="{{ path('app_posts_index') }}" class="btn btn-outline-secondary w-100 mb-3">Annuler</a>
    </div>
</div>

{% endblock %}
