{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block main %}
    <h1 style="color: lime;">Modifier l'article</h1>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        {{ include('posts/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <div class="col-3">{{ include('posts/_delete_form.html.twig') }}</div>

        <div class="col-3"><a class="btn btn-primary" href="{{ path('app_posts_index') }}">Retour au sommairre</a></div>
    </div>
</div>
{% endblock %}
