{% extends 'base.html.twig' %}

{% block title %}Nouvelle publication{% endblock %}

{% block main %}
    <h1 style="color: lime;">Créer un nouvel article</h1>

    {{ include('posts/_form.html.twig', {'button_label': 'Publier'}) }}

    <div class="my-4"><a href="{{ path('app_posts_index') }}">Retour au sommaire</a></div>
{% endblock %}
