{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block main %}
    <div>
        <h1 style="color: lime;">{{ controller_name }}</h1>
        <p class="text-center text-success my-5"> Bienvenue sur le Blog de la formation #2026#MACON. Ce site à été généré dans la joie, la bonne humeur et la souffrance de Symfony. Bonne visite !</p>
    </div>
{% endblock %}
